body {
  background-color: rgba(206, 203, 67, 0.747);
}
h1, p {
  font-family: Lato;
}
.container {
  display:flex;

  flex-wrap: wrap;
  box-align:  inherit;
  background-color: rgb(177, 196, 202);
  width: vw;
  align-items: center;
  align-content: space-between ;
  text-align: center;
  gap: 5px;
  padding: 0px;
  overflow: hidden;
  max-width: 500px;
  border:solid;
  border-radius: 10px;
  
}
.container img{
  max-width: 95%;
  height: 200px;
  overflow: hidden;
}